---
import Badge from "@/components/Badge.astro";
import { getAllPosts, getUniqueTagsWithCount } from "@/data/post";
import PageLayout from "@/layouts/PageLayout.astro";

const allPosts = await getAllPosts();
const allTags = getUniqueTagsWithCount(allPosts);

const meta = {
    description: "A list of all the topics I've written about in my posts",
    title: "标签",
};
---

<PageLayout meta={meta}>
    <h1
        class="font-semibold text-lg md:text-2xl text-accent-base mb-6 flex items-center gap-2 onload-animation"
    >
        标签
    </h1>
    <div class="flex flex-wrap items-center gap-2">
        {
            allTags.map(([tag, val]) => (
                <div class="flex items-center gap-x-2 onload-animation">
                    <a
                        aria-label={`View all posts with the tag: ${tag}`}
                        href={`/tags/${tag}`}
                    >
                        <Badge variant="muted" title={tag}>
                            <span class="text-xs font-normal">
                                &nbsp;{val}篇
                            </span>
                        </Badge>
                    </a>
                </div>
            ))
        }
    </div>
</PageLayout>
