---
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import Badge from "./Badge.astro";
import readingTime from "@/plugins/remark-reading-time";

interface Props {
  content: CollectionEntry<"post">;
}

const { content } = Astro.props;

const { text: readingTimeText } = readingTime(content.body);
---

<div class="flex flex-col gap-y-2">
  <div class="md:top-8 md:z-10 flex items-end">
    <button
      id="toggle-toc"
      class="hidden md:flex h-8 w-8 items-center flex-shrink-0 bg-accent-base/10 justify-center rounded-lg text-accent-base hover:brightness-110"
      aria-label="Table of Contents"
    >
      <Icon
        aria-hidden="true"
        class="h-6 w-6"
        focusable="false"
        name="material-symbols:list-alt-rounded"
      />
    </button>
    <h1
      class="ml-2 font-semibold text-accent-base md:top-4 md:z-20 line-clamp-none md:line-clamp-1 md:max-w-[calc(100%-10rem)]"
      title={content.data.title}
      data-pagefind-body
    >
      {content.data.title}
    </h1>
  </div>

  <div
    class="flex flex-wrap items-center text-lighter text-sm mx-2 gap-x-4 gap-y-1"
  >
    <span class="flex items-center h-[1.75rem]">
      <Icon
        aria-hidden="true"
        class="flex items-center h-4 w-4 me-1"
        focusable="false"
        name="material-symbols:calendar-month-rounded"
      />
      <FormattedDate
        date={content.data.publishDate}
        class="flex flex-shrink-0 text-sm md:text-base"
      />
    </span>
    <!-- <Separator type="dot" /> -->
    <span class="flex items-center h-[1.75rem] text-sm md:text-base">
      <Icon
        aria-hidden="true"
        class="items-center inline-block h-4 w-4 me-1"
        focusable="false"
        name="material-symbols:book-5-rounded"
      />
      {readingTimeText}
    </span>
    {
      content.data.updatedDate && (
        <span class="h-[1.75rem] flex items-center flex-shrink-0 rounded-lg bg-accent-two/5 text-accent-two py-1 px-2 text-sm gap-x-1  text-sm md:text-base">
          更新于:
          <FormattedDate
            class="flex flex-shrink-0"
            date={content.data.updatedDate}
          />
        </span>
      )
    }
  </div>

  <p 
    class="max-w-none text-textColor mx-2"
    data-pagefind-body
  >
    {content.data.description}
  </p>


  <div class="flex flex-wrap items-center gap-2 mx-1">
    {
      content.data.tags?.length ? (
        <Icon aria-hidden="true" class="flex-shrink-0 inline-block h-6 w-6 text-accent-base" focusable="false" name="material-symbols:sell" />	
        <>
          {content.data.tags.map((tag) => (
            <a aria-label={`View all posts with the tag: ${tag}`} href={`/tags/${tag}`}>
              <Badge variant="accent-two" title={tag} />
            </a>
          ))}
        </>
      ) : (
        <Icon aria-hidden="true" class="flex-shrink-0 inline-block h-6 w-6 text-lightest" focusable="false" name="material-symbols:sell" />
        <span class="text-sm text-lightest">No tags</span>
      )
    }
  </div>
</div>